body::-webkit-scrollbar {
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
  h1 {
    padding: 10px;
    box-sizing: border-box;
    font-size: 3.5em;
    font-weight: 800;
    text-align: center;
    background-color: firebrick;
    color: white;
    box-shadow: 3px 3px 10px black;
  } //h1
  div {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    margin: 30px 0;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 10px black;
    ul {
      line-height: 40px;
      h2 {
        font-size: 1.9em;
        font-weight: 800;
      } //h2
      li {
        ul {
          li {
          } //2dep li
        } //2ep ul
      } //1dep li
    } //1dep ul
  } //div
} //body
