.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif;
  ;
}
.main-bg {
  height: 300px;
  background-image: url('../public/img/bg.png');
  background-size: cover;
  background-position: center;
}
.title {
  font-size: 1.5em;
  font-weight: 800;
  color: crimson;
  transition: color 0.3s;
}
.title:hover {
  color: orangered;
}
.subtitle {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  transition: color 0.3s;
}
.subtitle:hover {
  color: rgba(255, 255, 255, 0.8);
}