.card-background {
    height: 3000px;
    margin-top: 800px;
    margin-bottom: 1600px;
    .card-box {
        position: sticky;
        top: 400px;
        margin-top: 200px;
        img {
            display: block;
            margin: 0 auto;
            max-width: 80%;
        }//img
    }//card-box
}//card-background