.grey {
    background-color: lightgray;
    height: 2000px;
    margin-top: 500px;
    .image {
        float: right;
        width: 400px;
        position: sticky;
        top: 100px;
        img {
            width: 100%
        }//img
    }//image
    .text {
        float: left;
        width: 300px;
    }//text
}//grey