@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.korean {
  font-family: "LeferiPoint-BlackA";
}

body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  display: flex;
  position: relative;
}

li {
  list-style: none;
}
.hidden_one {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: gray;
    z-index: -10;
}
/* root_design ------------------------------------------------ */
figure.pencil {
    position: sticky;
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 800px;
    top: 35px;
    left: 1520px;
    z-index: 10;
}
figure.pencil img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/* figure.pencil ------------------------------ */
section.section_box {
  margin: 40px 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px black;
}

.section_box > section {
  display: block;
  width: 100%;
  max-width: 750px;
  height: 100%;
  padding: 60px;
  box-sizing: border-box;
}
/* section_box ------------------------------ */
.section_box .lg_section_left {
    max-width: 450px;
}
.section_box .lg_section_left {
    background-color: rgb(31,32,35);
    color: white;
}
.section_box .lg_section_left a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
}.section_box .lg_section_right a {
    text-decoration: none;
    color: black;
}
/* section_left ------------------------------- */
.section_left .left_one ul {
    padding-left: 0;
}
.section_left .left_one .title {
  font-size: 2.3em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 35px;
}
.section_left .left_one .title > li {
    margin-bottom: 25px;
}
.section_left .left_one .title > li:nth-child(3) {
    color: gray;
}
.section_left .left_one .title figure {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_left .left_one .title figure img.picture {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* left_one_title -------------------------------- */
.section_left .left_one .social > li {
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
}
.section_left .left_one .social > li > ul > li {
    margin-top: 15px;
    font-size: 22px
}
/* left_one_social -------------------------------- */
.section_left .left_one .profile > li {
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
}
.section_left .left_one .profile > li > ul > li {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}
/* left_one_profile -------------------------------- */
.section_left .left_one .certificate > li {
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
}
.section_left .left_one .certificate > li > ul > li {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}
.section_left .left_one .certificate > li > ul > li > ul > li {
    margin-bottom: 5px;
} 
/* left_one_certificate -------------------------------- */
.section_left .left_one .career > li {
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
}
.section_left .left_one .career > li > ul > li {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}
.section_left .left_one .career > li > ul > li > ul > li {
    margin-bottom: 5px;
}
/* left_one_career -------------------------------- */
.section_left .left_one .skills > li {
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
}
.section_left .left_one .skills > li > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    font-size: 22px;
    font-weight: 500;
}
.section_left .left_one .skills > li > ul > li * {
    margin-right: 15px;
}
.section_left .left_one .skills > li > ul > li > figure {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-right: 15px;
}
.section_left .left_one .skills > li > ul > li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.section_left .left_one .skills > li > ul > li > .graph {
    width: 200px;
    height: 15px;
    background: 
    -webkit-linear-gradient(0deg, #ffffff 75%, black 45%);
}
.section_left .left_one .skills > li > ul > li > .graph_js {
    width: 200px;
    height: 15px;
    background: 
    -webkit-linear-gradient(0deg, #ffffff 55%, black 45%);
}
/* left_one_skill -------------------------------- */
.section_box .lg_section_right {
    background-color: white;
    color: black;
}
.section_right .right_one .portpolio {
    font-size: 1.7em;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 0;
}
.section_right .right_one .portpolio ul {
    padding-left: 0;
}
.section_right .right_one .portpolio ul li:nth-child(odd) a{
    display: block;
    margin-top: 15px;
    padding-top: 250px;
    text-align: right;
    box-sizing: border-box;
    font-size: 40px;
}
.section_right .right_one .portpolio ul li:nth-child(even) {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}
/* portpolio ------------------------------------------------------------------- */
.section_right .right_one .portpolio ul li.sunshine {
    position: relative;
}
.section_right .right_one .portpolio ul li.sunshine a {
    position: relative;
    display: block;
    background-color: rgb(237,25,58);
    color: white;
    transition: all 0.3s;
    z-index: 2;
}
.section_right .right_one .portpolio ul li.sunshine a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(237,25,58);
    text-shadow: 0 0 3px black;
}
.section_right .right_one .portpolio ul li.sunshine figure.sun_template {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 630px;
    height: 100%;
    max-height: 350px;
    margin: 0 auto;
    z-index: 1;
}
.section_right .right_one .portpolio ul li.sunshine figure.sun_template img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/* sunshine ------------------------------------------------------------------- */
.section_right .right_one .portpolio ul li.museum {
    position: relative;
}
.section_right .right_one .portpolio ul li.museum a {
    position: relative;
    background-color: rgb(46,55,76);
    color: white;
    transition: all 0.3s;
    z-index: 2;
}
.section_right .right_one .portpolio ul li.museum a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(46,55,76);
    text-shadow: 0 0 3px black;
}
.section_right .right_one .portpolio ul li.museum figure.mu_template {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 590px;
    height: 100%;
    max-height: 250px;
    margin: 0;
    z-index: 1;
}
.section_right .right_one .portpolio ul li.museum figure.mu_template img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/* museum ------------------------------------------------------------------- */