<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THREE.JS teplate_01</title>
    <link rel="stylesheet" href="./test_04.css">
    <script type="importmap">
        {
            "imports": {
                "three": "../build/three.module.js"
            }
        }
    </script>
    <script type="module" src="./test_04.js" defer></script>
</head>
<body>
    <div id="webgl-container"></div>
</body>
</html>