
.assets-icons_end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    color: #505050;
}
.assets-icons_end {
    font-size: 1.5em;
}
.assets-icons_end i {
    font-size: 1.1em;
    margin-right: 10px;
}
.assets-icons_end i.leaf {
    margin-top: 15px;
    padding-right: 0;
    margin-right: 0;
    font-size: 1.1em;
}
/* assets-icons_end ------------------------------------------------ */
.assets-header {
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.2);
    font-weight: 600;
}
.assets-header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}
.assets-header_title span {
    font-size: 1.8em;
}
.assets-header_title i {
    font-size: 1.0em;
}
.assets-header ul.cash_alert {
    position: relative;
    padding-left: 120px;
    padding-bottom: 30px;
    font-size: 1.5em;
    line-height: 40px;
}
.assets-header ul.cash_alert i {
    position: absolute;
    top: 13%;
    left: 10%;
    font-size: 1.8em;
}
/* assets-header --------------------------------------------------- */
.assets-accounts {
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.2);
    padding: 40px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
}
.assets-accounts_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}
.assets-accounts_main i {
    font-size: 0.5em;
}
/* assets-accounts_main -------------------------------------------- */
.assets-accounts div[class*='list'] {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.assets-accounts_title {
    margin-top: 30px;
}
.assets-accounts_title > ul {
    position: relative;
}
.assets-accounts_title > ul img {
    position: absolute;
    top: 15%;
    left: 0;
}
.assets-accounts_title > ul li {
    padding-left: 70px;
    line-height: 40px;
}
.assets-accounts_title > ul > li:nth-child(2) {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.7);
}
/* assets-accounts_title -------------------------------------------- */
.assets-invest{
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.2);
    padding: 40px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
}
.assets-invest ul.invest {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}
.assets-invest ul.invest i {
    font-size: 0.5em;
}
.assets-invest ul.chart {
    position: relative;
    margin-top: 40px;
    padding-left: 70px;
    line-height: 40px;
}
.assets-invest .chart li:nth-child(2) {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.7);
}
.assets-invest ul.chart i {
    position: absolute;
    top: 17%;
    left: 0%;
    font-size: 1.8em;
}
/* assets-invest ------------------------------------------------------ */
.assets-purchase {
    position: relative;
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.2);
    padding: 40px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.assets-purchase ul.purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.assets-purchase ul.purchase li {
    font-size: 0.8em;
    padding-left: 70px;
    line-height: 40px;
}
.assets-purchase ul.purchase li:first-child {
    padding-left: 0;
    font-size: 1.2em;
}
.assets-purchase ul.purchase img {
    position: absolute;
    top: 45%;
}
.assets-purchase > div {
    position: absolute;
    top: 45%;
    right: 5%;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}