.welcome-header {
    display: flex;
    margin: 90px 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
/* header__text가 width 60%로 왼쪽으로만 치우쳐 있기 때문에 display:flex를 사용한다. */
/* direction을 column(vertical)으로 바꿔서 수직축이 main axis로 변경 */
/* 변경하게 되면 justify-content는 main기준(수직), align-items는 cross기준(수평)이므로, align-items로 center를 맞춰준다. --> default값인 row라면, justify-contents가 수평! */
.leaf--color {
    color: var(--sequoia-color);
}
.welcome-header__title {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}
.welcome-header__text {
    width: 60%;
    opacity: 0.7;
    font-size: 18px;
}
#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
#login-form input {
    border: none;
    padding: 10px 0px;
    margin-bottom: 20px;
    font-size: 18px;
}
#login-form input:not([type="submit"]) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease-in-out;
}
/* not([])은 '이 것을 제외한 나머지에 적용하고 싶다'라는 말이라서, not쪽에만 적어야한다. --> #login-form input에도 적으면 중복적용되게 된다. */
/* 다시말해, not([type="submit"]) === type이 submit인거 제외하고 다 적용시켜 주세요. 라고 하는것과 같다. */
#login-form input::placeholder {
    opacity: 0.5;
}
#login-form input:focus {
    border-color : var(--sequoia-color);
}
/* focus --> cursor가 되는 transition이 일어나면 border-color가 --donnut-color로 변경된다. --> variables.css에 root로 저장되어 있음. */
/* Cascading-SS이므로, transition인 focus가 아래있어야 순차적으로 반영된다! */
#login-form input[type="submit"] {
    background-color: var(--sequoia-color);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}
#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}