body {
  margin: 0;
  background-color: #181818;
  color: #ffffff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 1rem;
}
