.black-nav {
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    padding-left: 20px;
}//black-nav
div {
    box-sizing: border-box;
}
.list {
    padding-left: 20px;
    text-align: left;
    border-bottom : 1px solid grey;
}