.footer {
    width: 100%;
    padding: 20px 40px;
    background: var(--color-white);
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden; 
    .footer__logo {
        font-size: 2.2em;
        font-family: var(--song-myung);
        color: var(--secondary-color);
        cursor: pointer;
        span {
            color: var(--primary-color);
        }//span
    }//footer_logo
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px;
        &:last-child {
            gap: 32px;
        }//last-child
    }//ul
    .footer__nav {
        li {
            font-size: 20px;
            font-family: var(--song-myung);
            text-transform: uppercase;
            color: var(--secondary-color);
            cursor: pointer;
        }//li
    }//footer__nav
    .footer__social {
        li {
            width: 42px;
            height: 42px;
            background-color: var(--secondary-color);
            border-radius: 100%;
            img {
                width: 45%;
                height: 45%;
                object-fit: contain;
            }//img
        }//li
    }//footer__social
}//footer