.header__nav {
  display: flex;
  overflow: hidden;
  .header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
    font-family: var(--song-myung);
    .header__logo-overlay {
      position: absolute;
      inset: 0;
      width: 100%;
      background-color: var(--primary-color);
      z-index: 1;
    } //header__logo-overlay
    h4 {
      padding-left: 30px;
      color: #fff;
      font-size: 2.5em;
      z-index: 2;
    } //h4
  } //header__logo
  .header__menu {
    padding: 20px;
    flex: 1.19;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 64px;
    list-style: none;
    li {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      font-family: var(--plus-jakarta-sans);
      color: var(--secondary-color);
      cursor: pointer;
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      } //img
    } //li
  } //header_menu
  .header__menu-moblie {
    display: none;
    padding: 20px;
    flex: 1.19;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 20px;
    position: relative;
  }
} //header__nav
