.hero {
    display: flex;
    min-height: calc(100vh - 74px);
    overflow: hidden;
    .hero-image {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 5;
        img {
            width: 120%;
            height: 100%;
            object-fit: contain;
        }//img
        .hero-image__overlay {
            position: absolute;
            inset: 0;
            width: 100%;
            background-color: var(--primary-color);
            z-index: -1;
        }//hero-image__overlay
        h2 {
            position: absolute;
            bottom: 0;
            padding: 20px;
            font-family: var(--playfair-display);
            font-weight: 700;
            font-size: 10em;
            line-height: 140px;
            color: #FFF;
        }//h2
    }//hero__image
    
    .hero-content {
        flex: 1.22;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .hero-content-info {
            padding: 64px;
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h1 {
                font-size: 90px;
                font-weight: 600px;
                /* font-family: var(--playfair-display); */
                color: var(--secondary-color);
            }//h1
            p {
                margin: 32px 0 0 32px;
                /* font-family: var(--plus-jakarta-sans); */
                color: var(--secondary-color);
                font-size: 20px;
                font-weight: 400;
            }//p
        }//hero-content-info
        .hero-content__buttons {
            margin: 41px 0 0 41px;
            display: flex;
            flex-wrap: wrap;
            gap: 36px;
            .hero-content__order-button {
                padding: 20px;
                border-radius: 36px;
                min-width: none;
                border: none;
                background: var(--secondary-color);
                color: #FFF;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                cursor: pointer;
            }//.hero-content__order-button
            .hero-content__play-button {
                border: none;
                outline: none;
                background: transparent;
                display: flex;
                align-items: center;
                font-size: 16px;
                line-height: 20px;
                color: var(--black-200);
                /* font-family: var(--plus-); */
                cursor: pointer;
                img {
                    margin-right: 12px;
                    width: 46px;
                    height: 46px;
                    object-fit: contain;
                }//img
            }//hero-content__play-button
        }//hero-content__buttons
        .hero-content__testimonial {

        }//hero-content__testimonial
    }//hero-content
}//hero