.trending {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.trending .trending-sushi,
.trending .trending-drink {
  width: 100%;
  min-height: 640px;
  display: flex;
  flex-direction: row;
}
.trending .trending-sushi .trending__content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 64px;
}
.trending .trending-sushi .trending__content .trending__list {
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
}
.trending .trending-sushi .trending__content .trending__list li {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  min-width: 210px;
}
.trending .trending-sushi .trending__content .trending__list li .trending__icon {
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 100%;
}
.trending .trending-sushi .trending__content .trending__list li .trending__icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trending .trending-sushi .trending__content .trending__list p {
  flex: 1;
  font-size: 19px;
  font-weight: 500;
  font-family: var(--song-myung);
  color: var(--secondary-color);
}
.trending .trending-sushi .trending__image {
  flex: 1;
  position: relative;
  padding: 32px 64px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../assets/japanese_sushi.png");
}
.trending .trending-sushi .trending__image img {
  width: 254px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}
.trending .trending-sushi .trending__arrow {
  position: absolute;
  z-index: 1;
}
.trending .trending-sushi .trending__arrow img {
  -o-object-fit: contain;
     object-fit: contain;
}
.trending .trending-sushi .trending__arrow.trending__arrow-right {
  right: -2.5px;
  bottom: 12%;
}
.trending .trending-sushi .trending__arrow.trending__arrow-right img {
  width: 100%;
  height: auto;
}
.trending .trending-sushi .trending__arrow.trending__arrow-left {
  left: -2.5px;
  top: 12%;
}
.trending .trending-sushi .trending__arrow.trending__arrow-left img {
  width: auto;
  height: 100%;
}
.trending .trending-sushi .trending__arrow.trending__arrow-top {
  top: -10.5px;
  left: 12%;
}
.trending .trending-sushi .trending__arrow.trending__arrow-top img {
  width: auto;
  height: 100%;
}
.trending .trending-sushi .trending__arrow.trending__arrow-bottom {
  bottom: -6.5px;
  right: 12%;
}
.trending .trending-sushi .trending__arrow.trending__arrow-bottom img {
  width: 100%;
  height: auto;
}
.trending .trending__discover {
  position: absolute;
  top: 44%;
  left: 44%;
  z-index: 1;
  width: 160px;
  height: 160px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trending .trending__discover p {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--playfair-display);
}
.trending .trending-drink .trending__content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 64px;
}
.trending .trending-drink .trending__content .trending__list {
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
}
.trending .trending-drink .trending__content .trending__list li {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  min-width: 210px;
}
.trending .trending-drink .trending__content .trending__list li .trending__icon {
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 100%;
}
.trending .trending-drink .trending__content .trending__list li .trending__icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trending .trending-drink .trending__content .trending__list p {
  flex: 1;
  font-size: 19px;
  font-weight: 500;
  font-family: var(--song-myung);
  color: var(--secondary-color);
}
.trending .trending-drink .trending__image {
  flex: 1;
  position: relative;
  padding: 32px 64px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../assets/japanese_drinks.png");
}
.trending .trending-drink .trending__image img {
  width: 254px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}
.trending .trending-drink .trending__arrow {
  position: absolute;
  z-index: 1;
}
.trending .trending-drink .trending__arrow img {
  -o-object-fit: contain;
     object-fit: contain;
}
.trending .trending-drink .trending__arrow.trending__arrow-right {
  right: -2.5px;
  bottom: 12%;
}
.trending .trending-drink .trending__arrow.trending__arrow-right img {
  width: 100%;
  height: auto;
}
.trending .trending-drink .trending__arrow.trending__arrow-left {
  left: -2.5px;
  top: 12%;
}
.trending .trending-drink .trending__arrow.trending__arrow-left img {
  width: auto;
  height: 100%;
}
.trending .trending-drink .trending__arrow.trending__arrow-top {
  top: -10.5px;
  left: 12%;
}
.trending .trending-drink .trending__arrow.trending__arrow-top img {
  width: auto;
  height: 100%;
}
.trending .trending-drink .trending__arrow.trending__arrow-bottom {
  bottom: -6.5px;
  right: 12%;
}
.trending .trending-drink .trending__arrow.trending__arrow-bottom img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=trending.css.map */