/* section_three --------------------------- */
.section_three {
    height: 50%;
}
.section_three .slider {
    height: 100%;
}
.section_three .slider .col_size {
    height: 100%;
}
@media screen and (min-width:1000px){
    .section_three .slider .col_size {
        height: 33.34%;
    } 
}
@media screen and (max-width:600px) and (max-width:1000px){
    .section_three .slider .col_size {
        height: 50%;
    }
}
@media screen and (min-width:600px){
    .section_three .slider .col_size {
        height: 100%;
    }
}
