.frame {
  width: 20%;
  height: 600px;
  transition: transform 200ms;
}

@media (max-width: 1500px) {
  .frame {
    width: 25%;
  }
  
}

@media (max-width: 1100px) {
  .frame {
    width: 28%;
  }
}

@media (max-width: 1000px) {
  .frame {
    width: 60%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
}

.frame:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
