.sidebar_option {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: grey;
    transition: 0.2s color ease-in;
    &:hover {
        color: white;
    }//hover
    .sidebar_option_icon {
        padding-left: 10px;
        padding-right: 10px;
    }//sidebar_option_icon
    & > p {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1.2em;
    }//p
}//sidebar_option
