.section_three figure.figure_one {
    width: 100%;
    height: 100%;
    margin: 0;
}
@media screen and (min-width:1200px) and (max-width:1300px){
    .section_three figure.figure_one {
        width: 80%;
        height: 70%;
        margin: 100px auto;
    }
}
@media screen and (min-width:900px) and (max-width:1200px){
    .section_three figure.figure_one {
        position: absolute;
        left: -50%;
        width: 200%;
        height: 70%;
        margin: 200px 0;
    }
    .section_three figure.figure_one img{
        object-fit: contain;
    }
}
@media screen and (min-width:700px) and (max-width:900px){
    .section_three figure.figure_one {
        position: absolute;
        top: 10%;
        width: 100%;
        height: 50%;
        margin: 200px 0;
    }
    .section_three figure.figure_one img{
        object-fit: contain;
    }
}
.section_three figure.figure_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section_three figure.figure_one figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    opacity: 0.9;
    color: black;
    font-size: 1.2em;
    box-shadow: 2px 2px 7px black;
    transform: translateX(-10000px);
    z-index: 10;
}
.section_three figure.figure_one:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 7px black;
    opacity: 0.3;
    z-index: 5;
}
.section_three figure.figure_one figcaption ul {
    padding-left: 0;
}
.section_three figure.figure_one figcaption ul li {
    line-height: 30px;
    margin: 10px 20px;
    font-size: 0.9em;
    font-weight: 300;
    color: white;
    z-index: 10;
}
.section_three figure.figure_one figcaption ul li:first-child {
    display: flex;
    justify-content: center;
    margin-left: 0;
}
.section_three figure.figure_one figcaption ul li.sub_title {
    font-size: 1.2em;
    font-weight: 900;
    color: var(--mustard);
}
.section_three figure.figure_one figcaption ul li.sub_title::before {
    content: '';
    border-left: 3px solid gray;
    margin-right: 7px;
}
.section_three figure.figure_one figcaption ul li a {
    display: block;
    width: 130px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
.section_three figure.figure_one figcaption ul li a:hover {
    color: firebrick;
}
.section_three figure.figure_one:hover figcaption {
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    .section_three figure.figure_one figcaption {
        width: 250px;
    }
    .section_three figure.figure_one figcaption ul li {
        font-size: 0.7em;
    }
    .section_three figure.figure_one figcaption ul li.sub_title {
        font-size: 1em;
    }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
    .section_three figure.figure_one figcaption {
        width: 200px;
    }
    .section_three figure.figure_one figcaption ul li {
        font-size: 0.7em;
    }
    .section_three figure.figure_one figcaption ul li.sub_title {
        font-size: 0.8em;
    }
}
/* section_three ---------------------------------------------------------------- */