@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
} 
li {
    list-style: none;
}
body {
    width: 100%;
    height: 4000px;
}
.title_font {
    font-family: 'LINESeedKR-Bd';
}
.project {
    position: absolute;
    top: 5%;
    left: 0;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: var(--navy);
    color: var(--mustard);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 1px 1px 5px black;
}
/* root ---------------------------------------------------------------------- */
.right {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--navy);
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.right ul li {
    margin-right: 40px;
    color: var(--mustard);
    font-size: 2.2em;
    font-weight: 500;
    line-height: 55px;
}
.right ul li:nth-child(2) {
    margin-bottom: 30px;
}
.right ul li b.white_color {
    color: white;
    font-weight: 650;
    font-size: 1.1em;
}
.right ul li.small {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 35px;
}
.right ul li.box {
    display: flex;
    width: 235px;
    border-bottom: 2px solid var(--mustard);
}
.right ul li.box span{
    display: block;
    margin-top: 55px;
    width: 100px;
    height: 40px;
    font-size: 0.6em;
    text-align: center;
}
.right ul li.box a {
    margin: 0 10px;
    margin-top: 55px;
    color: var(--mustard);
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}
.right ul li.box a:hover {
    color: white;
}
.right ul li.address {
    height: 30px;
    font-size: 1.0em;
    color: var(--mustard);
}
.right #particles-js {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  @media screen and (min-width:1000px) and (max-width:1300px){
    .right ul li {
        font-size: 1.7em;
        line-height: 45px;
    }
    .right ul li.small {
        font-size: 0.9em;
    }
    .right ul li.box {
        width: 200px;
    }
    .right ul li.address {
        font-size: 0.8em;
    }
}
@media screen and (min-width:900px) and (max-width:1000px) {
    .right ul li {
        font-size: 1.5em;
        line-height: 40px;
    }
    .right ul li.small {
        font-size: 1em;
    }
    .right ul li.box {
        width: 180px;
    }
    .right ul li.address {
        font-size: 0.8em;
    }
  }
@media screen and (min-width:700px) and (max-width:900px) {
    .right ul li {
        font-size: 1.2em;
        line-height: 35px;
    }
    .right ul li.small {
        font-size: 0.8em;
        line-height: 25px;
    }
    .right ul li.box {
        width: 150px;
    }
    .right ul li.address {
        font-size: 0.8em;
    }
  }
/* right_side ------------------------------------------------------------------ */
.section_one {
    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
    background-color: var(--mustard);
}
/* section_one ---------------------------------------------------------------- */
.section_two {
    position: absolute;
    top: 100%;
    left: 0;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--navy);
}
.section_two ul {
    padding-left: 0;
}
.section_two div.about_first {
    margin-top: 100px;
    font-size: 2em;
    width: 52%;
    display: flex;
    font-weight: 600;
}
.section_two ul.about_main_first {
    margin-top: 40px;
}
.section_two ul.about_main_first li{
    margin-top: 6px;
    font-size: 1.35em;
}
.section_two ul.about_main_first li b.bg_navy {
    font-size: 1.1em;
    font-weight: 900;
}
@media screen and (min-width:900px) and (max-width:1100px) {
    .section_two div.about_first {
        font-size: 1.5em;
    }
    .section_two ul.about_main_first li {
        font-size: 1.2em;
    }
    .section_two ul.about_main_first li b.bg_navy {
        font-size: 1.1em;
    }
}
@media screen and (min-width:700px) and (max-width:900px) {
    .section_two {
        justify-content: center;
    }
    .section_two div.about_first {
        margin-top: 0;
        font-size: 1.3em;
    }
    .section_two ul.about_main_first {
        padding-right: 50px;
    }
    .section_two ul.about_main_first li {
        font-size: 0.8em;
    }
    .section_two ul.about_main_first li b.bg_navy {
        font-size: 1.1em;
    }
}
.section_two ul.about_main_second h3 {
    margin-top: 9px;
    font-size: 1.25em;
}
.section_two ul.about_main_second li {
    margin-top: 7px;
    color: var(--dark);
}
.section_two ul.about_main_third {
    padding-left: 0;
    padding-right: 25px;
}
.section_two ul.about_main_third h3 {
    margin-top: 9px;
    font-size: 1.25em;
}
.section_two ul.about_main_third li {
    margin-top: 7px;
    color: var(--dark);
}
@media screen and (min-width: 900px) and (max-width: 1100px){
     .section_two ul.about_main_second h3 {
        font-size: 1em;
    }
    .section_two ul.about_main_second li {
        font-size: 0.9em;
    }
    .section_two ul.about_main_third h3 {
        font-size: 1em;
    }
    .section_two ul.about_main_third li {
        font-size: 0.9em;
    }
}
@media screen and (min-width: 700px) and (max-width: 900px){
    .section_two ul.about_main_second,
    .section_two ul.about_main_third {
        padding: 0 15px;
    }
    .section_two ul.about_main_third {
        padding-right: 30px;
    }
    .section_two ul.about_main_second h3 {
        font-size: 0.8em;
    }
    .section_two ul.about_main_second li {
        font-size: 0.7em;
    }
    .section_two ul.about_main_third h3 {
        font-size: 0.8em;
    }
    .section_two ul.about_main_third li {
        font-size: 0.7em;
    }
}
/* section_two ---------------------------------------------------------------- */
