.status-bar {
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}
.status-bar__column {
    width: 33%;
    /* 각각33%씩, 3등분을 시켜서 no service // clock // battery로 나누고 나서 중앙으로 맞춘다. --> space-between쓰면 배열이 안맞기때문! */
}
.status-bar__column:first-child span {
    margin-right: 3px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full {
    margin: 0px 3px;
}