@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor {
    @apply text-lg hover:text-fuchsia-700 dark:hover:text-indigo-700 duration-200;
};

.bg-primary {
    @apply bg-white dark:bg-slate-900;
};

.btn-project {
    @apply inline-flex text-white dark:text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg
}

.project-card {
    @apply flex flex-col m-3 rounded-xl w-full
            transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40
            hover:text-blue-600
}

h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 dark:text-white duration-100
}

footer {
    @apply text-gray-600 dark:text-white
    bg-gray-100 dark:bg-slate-600/20 duration-100
}

a {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50 duration-100
}

p {
    @apply text-slate-500 dark:text-slate-400 duration-100
}

